<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="home.js"></script>
    <title>Infopedia</title>
</head>
<body>
    <header>
        <h1>Infopedia  <i class="fa fa-globe" style="font-size:40px" ></i></h1>
        <h4>The World is Here</h4>
    </header>
    <br>
    <form>
        <article>
            <% JSON.stringify(results);%>
                <%  results.forEach(function(o) { %>
                    <h2 style="text-align: center;"> <%= o.title%> </h2>
                    <p id="article" style=" text-align: justify;
                                            width: 75%;
                                            margin-left: 12.5%;
                                            margin-right: 12.5%;">
                     <%= o.article %> </p>
                <% }); %>
        </article>
    </form>   
    <br>
    <br>
</body>
<hr>
<footer>
    <p>By Alex Brasil &#174</p>
</footer>
</html>