<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="./home.js"></script>
    <title>Infopedia</title>
</head>
<body>
    <header>
        <h1>Infopedia  <i class="fa fa-globe" style="font-size:40px" ></i></h1>
        <h4>The World is Here</h4>
    </header>
    <br>
    <form action="/profile" method="POST" id="myForm" >
        <div class="signcont">
            <input type="text" name="fname" id="fname" placeholder="First Name" required onchange="test_match()">
            <input type="text" name="lname" id="lname" placeholder="Last Name" required onchange="test_match()">
            <input type="email" name="email" id="email" placeholder="Email Address" required onchange="test_match()">
            <input type="text" name="prof" placeholder="Profession">
            <br>
            <br>
            <input type="text" name="newusername" id="newusername" placeholder="New Username" required>
            <input type="password" name="passw" id="passw" placeholder="New Password" onchange="test_match()" required> 
            <input type="password" name="repassw" id="repassw" placeholder="Re-enter Password" onchange="test_match()" required><p id="match" style="color: red; font-size: small;"></p><br> 
            <br>
            <button type="submit" id="login" style="background-color: rgb(52, 207, 52);">Sign Up</button>
            <br>
        </div>
    </form>
</body>
<hr>
<footer>
    <p>By Alex Brasil &#174</p>
</footer>
</html>