<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Infopedia</title>
</head>
<body>
    <header>
        <h1>Infopedia  <i class="fa fa-globe" style="font-size:40px" ></i></h1>
        <h4>The World is Here</h4>
    </header>
    <br>
    <div id="profi">
       <% JSON.stringify(info); %> 
       <% var fname = info[0].fname;%> 
       <span id="welcome">Welcome <%= fname %> </span>
    </div>
    <br>
    <button style="background-color: rgb(68, 67, 67);" type="submit" id="login">Create Article</button>
    <form class="signcont" method="GET" action="article" style="width: 70%; margin: 5% auto 5% auto;">
        <div>
            <% JSON.stringify(info);%>
            <h3><i>Your Articles</i></h3>
            <table>
                <tr>
                    <th><h4><u>Title</u></h4></th>
                    <th><h4><u>Author</u></h4></th>
                    <th></th>
                </tr>
                <%  info[1].forEach(function(o) { var title = o.title; var author = o.author; %>
                <tr style="text-align: start;"> 
                    <td>
                        <button class="title1" type="submit" name=title value="<%=title %>"
                            style="border: white ; 
                                    background-color: white; 
                                    font-size: small;">
                            <p><i>"<%= title%>"</i></p>
                        </button>     
                    </td>
                    <td>
                        <%= author%>   
                    </td>
                    <td id="edit">
                        <a id="link" href=""> &emsp; [Edit]</a> <a id="link" href="">[Delete]</a>
                    </td>
                    
                </tr>
                <% }); %>
            </table>
        </div>
    </form>
        
</body>
<hr>
<footer>
    <p>By Alex Brasil &#174</p>
</footer>
</html>