<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="home.js"></script>
    <title>Infopedia</title>
</head>
<body>
    <header>
        <h1>Infopedia  <i class="fa fa-globe" style="font-size:40px" ></i></h1>
        <h4>The World is Here</h4>
    </header>
    <br>
    <form action="search.html" method="GET">
        <div class="searchart">
            <input style="width: 30%;" type="text" name="title" placeholder="Title" required><br>
            <input style="width: 30%;" type="text" name="author" placeholder="Author" required><br>
            <input style="width: 30%;" type="text" name="topic" placeholder="Topic" required><br>
            <button style="background-color: black;" type="submit" id="login">Search</button>
            <br>
        </div>
    </form>   
    <form method="GET" action="article.ejs">
        <div>
            <% JSON.stringify(results);%>
            <h3>
                <ul>
                    <%  results.forEach(function(o) { %>
                    <li>
                        <a type="submit" name=<%= o.title %> style="color: rgb(87, 86, 86);" href="">
                            <%= o.title %>
                        </a>
                    </li>
                    <% }); %>
                </ul>
            </h3>
            <p>(Titles above retrieved from Heroku DataBase)</p>
        </div>
</body>
<hr>
<footer>
    <p>By Alex Brasil &#174</p>
</footer>
</html>