<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="home.js"></script>
    <title>Infopedia</title>
</head>
<body>
    <header>
        <h1>Infopedia  <i class="fa fa-globe" style="font-size:40px" ></i></h1>
        <h4>The World is Here</h4>
    </header>
    <br>
    <form action="user.php" method="POST">
        <div class="signcont">
            <input type="text" name="username" placeholder="USERNAME" required><br>
            <input type="password" name="pass" placeholder="PASSWORD" required><br>
            <button type="submit" id="login">Log In</button>
            <br>
            <button type="submit" id="sigin" ><a href="new_user">Create New Account</a></button>
        </div>
    </form>
</body>
<hr>
<footer>
    <p>By Alex Brasil &#174</p>
</footer>
</html>