table{
    width: 99%;
    background-color: rgb(230, 227, 227);
    display: flex;
    align-items: center;
    justify-content: start;
}
td{
    flex-grow: 1;
    text-align: center;
}
header{
    font-size: 250%;
    justify-content: center;
    font-family: cursive;
    text-align: center;
    background-color: #ffffff99;
    
}
#head{
    background-color: rgb(40, 40, 255);
    justify-content: center;
    color: white;
    text-align: center;
}
#list{
    margin-left: 10%;
    margin-right: 10% 
    
}

#two{
    background-color: rgb(224, 222, 222);
}
#disp1{
    width: 60%;
    margin-left: 20%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 10%;
    font-size: 140%;
    background-color: rgb(219, 219, 255);
}
#disp{
    width: 60%;
    margin-left: 20%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 10%;
    font-size: 130%;
    background-color: rgb(175, 250, 168);
}
#mess{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 140%;
    margin: 1%;
}
textarea{
    width: 10%;
    height: 15%;
}
#mainpg{
    background-image: url('mainBkgd.png');
    background-repeat: no-repeat;
    width: 99%;
    height: auto;
}
#butoes{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    background-color: #00000099;
}
.imagem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    margin: 2%;
    background-color: #ffffff80;
}
#delete, #new, #search{
    height: 50%;
}
#bt{
    width: 80%;
}
#bt:hover{
    font-weight: bolder;
}
form{
    background-color: #00000099;
}
