table{
    width: 70%;
    background-color: rgb(190, 190, 190);
    display: flexbox;
    align-items: center;
    justify-content: center;
}
td{
    display: flexbox;
    align-items: center;
    justify-content: center;
}