table{
    width: 99%;
    background-color: rgb(230, 227, 227);
    display: flexbox;
    align-items: center;
    justify-content: start;
}
td{
    flex-grow: 1;
    text-align: center;
}
header{
    font-size: 250%;
    justify-content: center;
    font-family: cursive;
    text-align: center;
    
}
#head{
    background-color: rgb(40, 40, 255);
    justify-content: center;
    color: white;
    text-align: center;
}
#list{
    margin-left: 10%;
    margin-right: 10% 
    
}
#one{
    background-color: gray ;
}
#two{
    background-color: rgb(224, 222, 222);
}
form{
    width: 70%;
    margin-left: auto;
    margin-left: auto;
    display: flex;
    display: flex;
    justify-content: center;
    text-align: center;
}